body{
    background-color: greenyellow;
    font-family: cursive;
}
.header_div{
    background-color: aqua;
    color:brown;
}
.header_div p {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button {
    font-family: monospace;
    margin-top: 30px;
    width: 130px;
    font-weight: bold;
    letter-spacing: 3px;
}
.footer{
    position: fixed;
    color: rgb(158, 17, 17);
    width: 100% ;
    font-size: 20px;
    bottom: 10px;
    background-color: aqua;
    line-height: 5px;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}